body {
  background-color: #add8e6;
  width: 960px;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
}

h2 {
  font-family: Arial;
}

main {
  margin: 0 auto;
}

.clear_fix:after {
  display: table;
  content: ' ';
  clear: both;
}

img {
  width: 200px;
  padding: 20px;
  background-color: #e5e5e5;
  float: left;
}

canvas {
  background-color: white;
}
